@import "../vars.css";

.navbar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 61px;
    z-index: 2;
    margin: 0 10%;
  }
  
  .title {
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
    color: var(--color-text);
  }
  
  
  .menu {
    display: flex;
  }

  .menuBtn {
    display: none;
  }

  
  
  .menuItems {
    display: flex;
    gap: 47px;
    list-style: none;
  }
  
  .menuItems a {
    font-size: 25px;
    color: var(--color-text);
    text-decoration: none;
  }
  
  .form {
    display: flex;
     /* Center the form vertically */
    padding: 8px; /* Add padding for better spacing */
    background-color: transparent; /* Set background color to transparent */
    border-radius: 20px; /* Add rounded corners */
    border: 2px solid var(--color-text); /* Add border for visibility */
  }
  
  .inputbar {
    flex: 1; /* Take up remaining space */
    border: none; /* Remove default input border */
    outline: none; /* Remove input outline */
    font-size: 16px; /* Adjust font size */
    padding: 8px; /* Add padding */
    margin-left: 8px; /* Add space between input and icon */
    color: var(--color-text); /* Set text color */
    background-color: transparent; /* Set background color to transparent */
    
  }
  
  .inputbar::placeholder {
    color: var(--color-text); /* Set placeholder color */
  }

  @media screen and (max-width: 830px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .menu {
      position: absolute;
      right: 0;
      margin-right: 10%;
      flex-direction: column;
      align-items: flex-end;
      gap: 11px;
      z-index: 3;
    }
  
    .menuBtn {
      display: block;
      cursor: pointer;
    }
  
    .menuItems {
      display: none;
      flex-direction: column;
      align-items: center;
      gap: 13px;
      border-radius: 10px;
      background: rgb(5, 198, 182);
      background: linear-gradient(
        0deg,
        rgb(234, 237, 243) 0%,
        rgba(12, 156, 156, 0.97) 100%  
      );
      padding: 24px 33px;
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
    }
  
    .menuOpen {
      display: flex;
      z-index: 1;
    }
  }